<h1>Register</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is valid</h2>
      <ul>
        <%@user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for :user, url: '/users' do |f| %>
  <div class="field">
      <p>First_Name: <%= f.text_field :first_name %></p>
      <p>Last_Name: <%= f.text_field :last_name %></p>
      <p>Email: <%= f.text_field :email %></p>
      <p>Password: <%= f.password_field :password %></p>
      <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
      <p><%= f.submit "Submit" %></p>
  </div>
  <% end %>
<% end %>